CardGameTakeHomeStarter/Library/
CardGameTakeHomeStarter/Logs/
CardGameTakeHomeStarter/UserSettings/
CardGameTakeHomeStarter/.vs/
CardGameTakeHomeStarter/Temp/
CardGameTakeHomeStarter/obj/
CardGameTakeHomeStarter/Assembly-CSharp.csproj
CardGameTakeHomeStarter/Assembly-CSharp-Editor.csproj
CardGameTakeHomeStarter/CardGameTakeHomeStarter.sln
